<head>
    <script>
        function contar(val){
            location.href="/teste2/"+document.getElementById("idvalor").value;
        }
    </script>
</head>
<h1>Versão em Master</h1>
<form action="/produto/salvar" method="POST">
    <label>Codigo</label>
    <input type="text" name="codigo" value=""/>
    <label>Descricao</label>
    <input type="text" name="descricao" value=""/>
    <label>Unidade Medida</label>
    <input type="text" name="unidademedida" value=""/>
    <label>Preco Unitario</label>
    <input type="text" name="precounid" value=""/>
    <label>Estoque</label>
    <input type="text" name="estoque" value=""/>
    <input type="submit" value="Salvar"/>
</form>

<form action="/produto/listar" method="GET">
    <label>Codigo</label>
    <input type="text" name="codigo" disabled value="{{codigo}}"/>
    <label>Descricao</label>
    <input type="text" name="descricao" disabled value="{{descricao}}"/>
    <label>Unidade Medida</label>
    <input type="text" name="unidademedida" disabled value="{{unidademedida}}""/>
    <label>Preco Unitario</label>
    <input type="text" name="precounid" disabled value="{{precounid}}"/>
    <label>Estoque</label>
    <input type="text" name="estoque" disabled value="{{estoque}}"/>
    <input type="submit" value="Buscar"/>
</form>
